body{
    font-family: 'Lato', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;
}

i{
    display: inline-block;
    width: 24px;
    height: 24px;
}